#container
{
    padding: 10px;
    display: flex;
    align-items: flex-start;
}

#container img
{
    align-items: flex-start;
    background-color: grey;
    display: flex;
    max-width: 300px;
}

#img
{

    align-items: flex-start;
    display: flex;
    max-width: 200px;
    max-height: 200px;
    
    
    
}

ul
{
    list-style: none;
}

